<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">

        <a href="#" class="logo"><img src="static/img/logo-mercado-liebre.svg" alt="logo"
                style="width: 200px; height: 50px;"></a>

                <div class="inputContainer">
                    <input type="text" class="form-control" placeholder="Buscar productos">
                    <button class="btn btn-outline-secondary" type="button"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </div>
    
                <div class="btnInfo">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    <p>Compra en cuotas</p>
                </div>
            </div>
    
            <div class="header2">
                    <nav>
                        <ul class="list1">
                            <a href="#">
                                <li>Ofertas</li>
                            </a>
                            <a href="#">
                                <li>Tiendas Oficiales</li>
                            </a>
                            <a href="#">
                                <li>Vender</li>
                            </a>
                            <a href="#">
                                <li>Ayuda</li>
                            </a>
                        </ul>
                    </nav>
                
                    <nav>
                        <ul class="list2">
                            <a href="#">
                                <li>Crea tu cuenta</li>
                            </a>
                            <a href="#">
                                <li>Ingresa</li>
                            </a>
                            <a href="#">
                                <li>Mis comrpas</li>
                            </a>
                        </ul>
                    </nav>
    
            </div>
    
            <div class="desktopHidden">
                <button class="btn-menu">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>


    </header>

    <main>
        <h2>
            <h2 class="titulares">Basado en tu última visita</h2>
        </h2>

        <section>
            <article class="card">
                <img class="images" src="static/img/img-cafetera-moulinex.jpg" alt="cafetera">
                <div>
                    <p class="precios">$6.770</p>
                    <p>40% OFF</p>
                    <p><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>

            <div>
                <img class="images" src="static/img/img-macbook-pro-2019.jpg" alt="MacBook">
                <p class="precios">$230.000</p>
                <p>20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </div>

            <div>
                <img class="images" src="static/img/img-samsung-galaxy-s10.jpg" alt="Celular">
                <p class="precios">$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </div>

            <div">
                <img class="images" src="static/img/img-tv-samsung-smart.jpg" alt="Televisor
            ">
                <p class="precios">$23.200</p>
                <p>5% OFF</p>
                <p><strong>SmartTv Samsung 43"</strong></p>
                </div>
        </section>


        <section>
            <h2>Sección de Ofertas</h2>

            <article>
                <img class="images" src="static/img/img-cafetera-moulinex.jpg" alt="cafetera">
                <hr>
                <div>
                    <p class="precios">$6.770</p>
                    <p>40% OFF</p>
                    <p><strong>Cafetera Moulinex</strong></p>
                </div>
            </article>

            <div>
                <img class="images" src="static/img/img-macbook-pro-2019.jpg" alt="MacBook">
                <p class="precios">$230.000</p>
                <p>20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </div>

            <div">
                <img class="images" src="static/img/img-samsung-galaxy-s10.jpg" alt="Celular">
                <p class="precios">$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
                </div>

                <div">
                    <img class="images" src="static/img/img-tv-samsung-smart.jpg" alt="Televisor">
                    <p class="precios">$23.200</p>
                    <p>5% OFF</p>
                    <p><strong>SmartTv Samsung 43"</strong></p>
                    </div>
        </section>
    </main>

    <footer>
        <section>
            <div class="iconCard"><i class="bi bi-credit-card"></i></div>
            <h4>Paga con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tienes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!</p>
        </section>
        <section>
            <div class="iconCard"><i class="bi bi-gift"></i></div>
            <h4>Envios gratis desde $2500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <div class="iconCard"><i class="bi bi-person-fill-lock"></i></div>
            <h4>Seguridad, de principio a fin.</h4>
            <p>¿No te gusta? ¡Devuelvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/6bae251cd6.js" crossorigin="anonymous"></script>
</body>

</html>