<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">

        <a href="#" class="logo"><img src="static/img/logo-mercado-liebre.svg" alt="logo"
                style="width: 200px; height: 50px;"></a>

        <nav class="navbar">
            <a href="#">Ofertas</a>
            <a href="#">Tiendas Oficiales</a>
            <a href="#">Vender</a>
            <a href="#">Ayuda</a>
        </nav>
    </header>

    <main>
        <h2>
            <h2 class="titulares">Basado en tu última visita</h2>
        </h2>

        <section>
            <div>
                <img class="images" src="static/img/img-cafetera-moulinex.jpg" alt="cafetera">
                <p class="precios">$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </div>

            <div>
                <img class="images" src="static/img/img-macbook-pro-2019.jpg" alt="MacBook">
                <p class="precios">$230.000</p>
                <p>20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </div>

            <div>
                <img class="images" src="static/img/img-samsung-galaxy-s10.jpg" alt="Celular">
                <p class="precios">$70.500</p>
                <p>10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </div>

            <div">
                <img class="images" src="static/img/img-tv-samsung-smart.jpg" alt="Televisor
            ">
                <p class="precios">$23.200</p>
                <p>5% OFF</p>
                <p><strong>SmartTv Samsung 43"</strong></p>
                </div>
        </section>

        <div>
            <h2>Sección de Ofertas</h2>
        </div>

        <section>
            <div">
                <img class="images" src="static/img/img-cafetera-moulinex.jpg" alt="cafetera">
                <p class="precios">$6.770</p>
                <p>40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
                </div>

                <div>
                    <img class="images" src="static/img/img-macbook-pro-2019.jpg" alt="MacBook">
                    <p class="precios">$230.000</p>
                    <p>20% OFF</p>
                    <p><strong>MacBook Pro 2019</strong></p>
                </div>

                <div">
                    <img class="images" src="static/img/img-samsung-galaxy-s10.jpg" alt="Celular">
                    <p class="precios">$70.500</p>
                    <p>10% OFF</p>
                    <p><strong>Samsung Galaxy S10</strong></p>
                    </div>

                    <div">
                        <img class="images" src="static/img/img-tv-samsung-smart.jpg" alt="Televisor">
                        <p class="precios">$23.200</p>
                        <p>5% OFF</p>
                        <p><strong>SmartTv Samsung 43"</strong></p>
                        </div>
        </section>
    </main>

    <footer>
        <section>
            <div class="iconCard"><i class="bi bi-credit-card"></i></div>
            <h4>Paga con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tienes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!</p>
        </section>
        <section>
            <div class="iconCard"><i class="bi bi-gift"></i></div>
            <h4>Envios gratis desde $2500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <div class="iconCard"><i class="bi bi-person-fill-lock"></i></div>
            <h4>Seguridad, de principio a fin.</h4>
            <p>¿No te gusta? ¡Devuelvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/6bae251cd6.js" crossorigin="anonymous"></script>
</body>

</html>