<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/css/style.css" />
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">
        <div class="header1">
            <img src="/static/img/logo-mercado-liebre.svg" alt="Logo" />

            <div class="inputContainer">
                <input type="text" class="form-control" placeholder="Buscar productos" />
                <button class="btn btn-outline-secondary" type="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <div class="btnInfo">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Compra en cuotas</p>
            </div>
        </div>

        <div class="header2">
            <nav>
                <ul class="list1">
                    <a href="#">
                        <li>Ofertas</li>
                    </a>
                    <a href="#">
                        <li>Tiendas Oficiales</li>
                    </a>
                    <a href="#">
                        <li>Vender</li>
                    </a>
                    <a href="#">
                        <li>Ayuda</li>
                    </a>
                </ul>
            </nav>

            <nav>
                <ul class="list2">
                    <a href="#">
                        <li>Creá tu cuenta <a><i class="bi bi-person-vcard"></i></a></li>
                    </a>
                    <a href="#">
                        <li>Ingresa <a><i class="bi bi-box-arrow-in-right"></i></a></li>
                    </a>
                    <a href="#">
                        <li>Mis comrpas <a><i class="bi bi-basket2"></i></a></li>
                    </a>
                </ul>
            </nav>
        </div>

        <div class="desktopHidden">
            <button class="btn-menu">
                <i class="fa-solid fa-bars"></i>
            </button>
                    
        </div>
    </header>
    <main>
        <h2 class="titulares">Basado en tu ultima visita</h2>
        <section class="ultimaVisita">
            <article>
                <img class="images" src="static/img/img-cafetera-moulinex.jpg" alt="cafetera" />
                <hr>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </article>
            <article>
                <img class="images" src="static/img/img-macbook-pro-2019.jpg" alt="MacBook" />
                <hr>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </article>
            <article>
                <img class="images" src="static/img/img-samsung-galaxy-s10.jpg" alt="Celular" />
                <hr>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </article>
            <article>
                <img class="images" src="static/img/img-tv-samsung-smart.jpg" alt="Televisor" />
                <hr>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <p><strong>SmartTv Samsung 43"</strong></p>
            </article>
        </section>
        <h2>Seccion de ofertas</h2>
        <section class="seccionOfertas">
            <article>
                <img class="images" src="static/img/img-cafetera-moulinex.jpg" alt="cafetera" />
                <hr>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$6.770</p>
                <p class="descuentos">40% OFF</p>
                <p><strong>Cafetera Moulinex</strong></p>
            </article>
            <article>
                <img class="images" src="static/img/img-macbook-pro-2019.jpg" alt="MacBook" />
                <hr>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$230.000</p>
                <p class="descuentos">20% OFF</p>
                <p><strong>MacBook Pro 2019</strong></p>
            </article>
            <article>
                <img class="images" src="static/img/img-samsung-galaxy-s10.jpg" alt="Celular" />
                <hr>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$70.500</p>
                <p class="descuentos">10% OFF</p>
                <p><strong>Samsung Galaxy S10</strong></p>
            </article>
            <article>
                <img class="images" src="static/img/img-tv-samsung-smart.jpg" alt="Televisor" />
                <hr>
                <i class="fa-solid fa-truck"></i>
                <p class="precios">$23.200</p>
                <p class="descuentos">5% OFF</p>
                <p><strong>SmartTv Samsung 43"</strong></p>
            </article>
        </section>

        <footer class="pieDePagina">
            <section>
                <div class="iconCard"><i class="bi bi-credit-card"></i></div>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>
                    Con Mercado Liebre Cash, tienes cuotas sin interes con tarjeta o
                    efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>
            <section>
                <div class="iconCard"><i class="bi bi-gift"></i></div>
                <h3>Envios gratis desde $2500</h3>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                    miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </section>
            <section>
                <div class="iconCard"><i class="bi bi-person-fill-lock"></i></div>
                <h3>Seguridad, de principio a fin.</h3>
                <p>
                    ¿No te gusta? ¡Devuelvelo! En Mercado Liebre, no hay nada que no
                    puedas hacer, porque estás siempre protegid@.
                </p>
            </section>
            <section>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </footer>
    </main>
    <script src="https://kit.fontawesome.com/6bae251cd6.js" crossorigin="anonymous"></script>
</body>

</html>
