<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css" />
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <title>Login</title>
</head>
<!-- cambiar los class de header y logo-search para poder terminar de estilizar el login  -->
<!-- terminar de estilizar header-login y logo-search-login -->
<body>
    <header class="header-login">
        <a class="logo-button" href="/">
            <div class="logo-search-login" >
                <img src="static/img/logo-mercado-liebre.svg" alt="logo" />
            </div>
        </a>
    </header>
    <main>
        <div class="login-page">
            <div class="form">
                <form class="login-form">
                    <input type="text" name="user" id="user" placeholder="Usuario" />
                    <input type="password" name="password" id="password" placeholder="Contraseña" />
                    <button>login</button>
                    <p class="message">Not registered? <a href="/register">Create an account</a></p>
                </form>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="f-pago_tarjeta">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div class="f-envio_gratis">
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                miles de productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div class="f-seguridad">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
                hacer, porque estás siempre protegid@.
            </p>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>